@{
    ViewBag.Title = "ATM Locator";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>

<div class="jumbotron">
    <h1>ATM Locator</h1>
    <p class="lead">ATM Locator is a free web app for locating ATMs in Skopje.</p>
    <p><a href="https://en.wikipedia.org/wiki/Skopje" class="btn btn-primary btn-lg">Learn more about Skopje&raquo;</a></p>
</div>

<div class="row">
    <h2>Below is an interactive map, to get to know Skopje better</h2>
</div>

<div id="map"></div>
<style>
    #map {
        height: 360px;
    }
</style>

<script>
    var map = L.map('map').setView([41.9981, 21.4254], 11);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaWxpZXZhbCIsImEiOiJja2k4czcycHowOG94MnVsN2ZtbjJhZmEyIn0.a-nzOpBta_EYzu1CW8DXmg'
    }).addTo(map);

    var marker = L.marker([41.9921300, 21.4275923]).addTo(map);
</script>