@{
    ViewBag.Title = "ATM Locator";
}

<div class="jumbotron">
    <h1>ATM Locator</h1>
    <p class="lead">ATM Locator is a free web app for locating ATMs in Skopje.</p>
    <p><a href="https://en.wikipedia.org/wiki/Skopje" class="btn btn-primary btn-lg">Learn more about Skopje&raquo;</a></p>
</div>

<div class="row">
    <h2>Welcome to ATM Locator app, below is an interactive map</h2>
    <h2>Interactive map to be implemented here......</h2>
    <img src="~/tehnicki_prototip_skopje_map.png" />
</div>